#Value {
    /* border:solid 1px; */
    color: #0022FF;
}

#speedMeter #Value{
    font-size:80px;  
}
#dayDist #Value,#totDist #Value{
    font-size:40px;  
}

#Units {
    font-size:20px;
    font:20px bold;
}
