@import url("Styles.css");

.Default {
    background-color:#CFCFCF;
}

#Value {
    color: #000000;
}

#Units {
    color: #000000;
}
#musicPanelPlay, #musicPanelNext  {
    background-image: none;
    background-color: #000000;
}
    
#speedMeter #Value{
    color:#FF4500;
}

.bigText {
    font: 25px Sans;
}
.mediumText {
    font: 20px Sans;
}

levelbar.continuous block.filled{
    color: red;
}

