.Default {
    background-color:#000000;
}

#Value {
    color:#CECECE;
}

#Units {
    color: #CECECE;
}

#speedMeter #Value{
    color:#FFFCFC;
}

#musicPanelPlay,#musicPanelPNext  {
    background-image: none;
    background-color: #FFFCFC;
}
