* {
    /* debug */
    /* border: 1px solid; */
}

#Title {
    font-size:18px;
}    

#Value {
    padding:0px 10px 0px 10px;
    font-size:20px;
}

#Units {
    font-size:18px;
    padding:0px 10px 0px 10px;
}

#speedMeter #Value{
    font-size:80px;
}

#Time #Value {
    font-size:25px;
}

