[unit]
Description=volume control

[Service]
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/pi/.Xauthority"
WorkingDirectory=/home/pi/rpiCarGps/Volume
User=pi
ExecStart=/home/pi/rpiCarGps/Volume/Volume.py
Restart=always

[Install]
WantedBy=graphical.target
